.container-plants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.one-plant {
    width: 32%;
}

@media(min-width: 1200px) {
    .one-plant {
        width: 23%;
        margin-bottom: 1.5rem;
    }
}